.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 24px;
}

.cards {
  ul {
    margin: 1rem;

    li {
      position: relative;

      .cards-card-image {
        opacity: .8;
      }

      .cards-card-body {
        position: absolute;
        top: 0;
        left: 20%;
        color: var(--background-color);
      }
    }
  }
}
.cards > ul > li {
  border: 1px solid #dadada;
  
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

img[loading="lazy"] {
  contain-intrinsic-size: 400px auto;
}
