.connect {
    .subscribe-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        & button {
            text-decoration: none;
            border: 2px solid var(--link-color);
            color: var(--link-color);
            border-radius: 1rem;
            padding: 0.5rem .5rem;
            font-weight: 600;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}