.productfulldetails {
    .product-form {
        padding: 1rem;
        display: grid;
        grid-template-areas:
        'images title'
        'images errors'
        'images options'
        'images quantity'
        'images cart'
        'images .';
        grid-template-columns: minmax(0, 1.5625fr) minmax(0, 1fr);
        grid-template-rows: repeat(5, min-content) 1fr [fold];

        .image {
            grid-area: images;
            grid-column: 1 / 2;
            grid-row: 1 / fold;
        }

        .title {
            grid-area: title;
            padding-top: 1rem;
            padding-bottom: 1rem;
            & div {
                font-size: 1.25rem; 
                font-weight: bold;
                line-height: normal;
                display: flex;
                justify-content: space-between;
                align-items: center;
                & p:last-child {
                    font-size: 0.875rem; /* Smaller font size */
                }
            }
            border-bottom: 1px solid #ddd; /* Subtle bottom border */
            margin: 0 0.5rem;
            
        
        

        }

        .options,.quantity {
            grid-area: options;
            & > div {
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: .8rem; 
            font-weight: bold;
            line-height: normal;
            border-bottom: 1px solid #ddd; /* Subtle bottom border */
            margin: 0 0.5rem;
              & div {
                margin-bottom: .7rem;
                display: flex;
                gap: .6rem;
              }
            }

            .color-wrapper {
                button {
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    /* background: linear-gradient(-45deg, rgba(0, 0, 0, 0.2), transparent), #fee1d2; */
                    min-height: 2.5rem;
                    min-width: 2.5rem;

                    & span {
                        visibility: hidden;
                    }
                    
                    & .active {
                        visibility: visible;
                    }
                }
            }

            .size-wrapper {
                button {
                    border: 1px solid rgba(0, 0, 0, 1);
                    background: #f8f9fa;
                    color: var(--dark-color);
                    text-decoration: none;
                    min-height: 2.5rem;
                    min-width: 2.5rem;
                }
                & .active {
                    background-color: var(--dark-color);
                    color: var(--background-color);
                }
            }
        }

        .quantity {
            grid-area: quantity;
            .quantity-wrapper {
                & div {
                    display: flex;
                    align-items: center;
                    button {
                        border: 2px solid var(--dark-color);
                        border-radius: 50%;
                        padding: .1rem .2rem;
                        font-size: .5rem;
                        text-decoration: none;
                        opacity: .7;
                        &:hover {
                            opacity: 1;
                            background-color: var(--background-color);
                        }
                    }
                    & span {
                        padding: .5rem 1.2rem;
                        border-radius: .5rem;
                        border: 2px solid var(--dark-color);
                    }
                }
            }
        }

        .cart {
            grid-area: cart;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1rem; 
            font-weight: bold;
            line-height: normal;
            margin: 0 0.5rem;
            display: flex;
            align-self: center;
            flex-direction: column;
            gap: 1rem;

            & button {
                font-size: .8rem;
                border: none;
                background-color: var(--background-color);
                text-decoration: none;
                display: flex;
                align-self: center;
                & span {
                    margin-right: 0.4rem;
                }
            }

            & div {
                align-self: center;
                & button {
                    background-color: var(--link-color);
                    color: var(--background-color);
                    padding: 1rem 2rem;
                    border-radius: 1rem;
                    font-weight: 700;
                    
                }
            }
        }

        .description {
            grid-column: 1 / span 1;
            grid-row: fold / span 1;
            border-top: 1px solid #ddd; /* Subtle bottom border */
            font-size: 1rem;

            .description-wrapper {
                & > p:first-child {
                    font-weight: 700;
                }
                & ul {
                    padding-left: 1.3rem;
                }
            }
        }

        .details {
            grid-column: 2 / span 1;
            grid-row: fold / span 1;
            border-top: 1px solid #ddd; /* Subtle bottom border */
            font-size: 1rem;

            .details-wrapper {
                & > p:first-child {
                    font-weight: 700;
                }
                & ul {
                    padding-left: 1.3rem;
                    & li {
                        font-weight: 400;
                        margin-bottom: 0.4rem;
                        & strong{
                            font-weight: 700;
                            margin-right: .4rem;
                        }
                    }
                }
            }
        }
    }
}

.image {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: auto;
    min-height: 35rem;
    width: 100%;
}

.thumb-swiper {
    width: 6rem; 
    height: 30rem;
    align-self: flex-start;
}

.thumb-swiper .swiper-slide {
    width: 100%;
    height: auto;
    cursor: pointer;
    opacity: 0.5;
    & img {
        height: 100%;
        object-fit: cover;
    }
}

.thumb-swiper .swiper-slide-thumb-active {
    opacity: 1;
    box-shadow: 0 0 10px 0 rgb(96, 165, 250);
}



.main-image{
    flex: 0.7;
    text-align: right;
    & img {
        max-width: 15rem; 
        min-height: 30rem;
        object-fit: cover;
    }
} 


@media (max-width: 800px) {
    .productfulldetails {
        .product-form {
            display: block;

            .description {
                .description-wrapper {
                    font-size: .8rem;
                }
            }

            .details {
                .details-wrapper {
                    font-size: .8rem;
                }
            }
        }
    }

}