.hero-carousel-wrapper {
    min-width: 100%;
}
.hero-carousel {
    margin: 1rem;
    .swiper-pagination {
        & span {
            width: 1rem;
            height: 1rem;
        }
    }
    .swiper-pagination-bullet-active {
        background-color: var(--text-color);
    }
    .hero-slider {
        min-height: 660px;
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        & div:first-child {
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
        }

        & div:last-child {
            max-width: 70%;
        }

        & h1 {
            z-index: 1;
            margin-top: 1rem;
            font-size: 2.125rem;
            line-height: 1.25;
            font-weight: 400;
        }

        & a {
            &:hover {
                background-color: transparent;
                opacity: .8;
            }
        }
    }
}

@media (min-width:900px) {
    .hero-carousel {
        .hero-slider {
            justify-content: start;
            gap: 1rem;
        }
    }
}