.hero-carousel {
    /* display: flex;
    gap: 2rem;
    overflow: scroll; */
    .hero-slider {
        min-height: 660px;
        /* min-width: 100vw; */
        text-align: center;
        position: relative;
        /* padding-left: 1rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        & div:first-child {
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
        }

        & div:last-child {
            max-width: 70%;
        }

        & h1 {
            z-index: 1;
            margin-top: 1rem;
            font-size: 2.125rem;
            line-height: 1.25;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}

@media (min-width:900px) {
    .hero-carousel {
        .hero-slider {
            justify-content: start;
            gap: 1rem;
        }
    }
}